//////////////////////////////
//			Font
//////////////////////////////

$font-stack : Helvetica, sans-serif;
$font-small : 12px;
$font-mid : 13px;
$font-default : 14px;
$font-big : 16px;
$font-huge : 18px;
$font-gient : 22px;



//////////////////////////////
//	 radio background-image
//////////////////////////////

$background-url:url("http://image.gsshop.com/mi13/img/ico/tmp_frm.png");
$background-position-default:0 -90px;
$background-position-checked:0 -150px;